*.class
.cache
.classpath
.idea
.idea_modules
.metadata
phalanx.properties
phalanx/.project
phalanx/.settings/
phalanx/deploy/logs
phalanx/deploy/phalanx-server.jar
phalanx/phalanx.iml
target
wikifactory/.classpath
